.title{
    color: #FFBC00;
	font-size: 40px;
	font-family: "Times New Roman";
    text-shadow: green;
}

legend{
    color: white;
    margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 10px; 
	border: solid 1px black;
    border-radius: 16px;
    padding-left: 50px;
    background-color: #8E41D5; 
    font-weight: bold;
}

#login{
    float: left;
}

p {
	color: black;
	font-family: "Arial"; 
	font-weight: bold; 
    text-shadow: green;
}